@media (min-width: 769px) {

    .price-discount h2{
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #container-product {
        display: flex;
        max-width:900px;
        margin: 4% auto;
    }

    .product-info {
        width: 80%;
        margin: 0 auto;
    }
    .image-product {
        max-width: 500px;
        max-height: 500px;
        width: 400px;
        min-height: 400px;
        border-radius: 10px;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }

    
    #buy-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #buy-button {
        width: 200px;
        justify-content: space-between;
    }
    .quantity{
        width: 200px;
    }
    .price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

@media (min-width: 501px) and ( max-width: 768px) {
    .image-product {
        width: 500px;
        height: 500px;
        border-radius: 10px;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }
    
    .hero-container{
        display:flex;
        justify-content: center;
        margin: 30px;
    }
    .product-info{
        padding: 20px;
    }
    .price-discount{
        display: flex;
    }
    .quantity{
        width: 200px;
    }

    #buy-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #buy-button {
        width: 200px;
        justify-content: space-between;
    }
    
}
@media  (max-width: 500px) {
    .product-info{
        padding: 20px;
    }
    .image-product {
        height: 400px;
    }
    .price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .price-discount{
        display: flex;
    }

}

@media (max-width: 375px) {
    .image-product {
        height: 300px;
    }
}